:root {
    --color-primary: #EC994B;
    --color-background: #222831;
    --color-secondary: #EB5353;
    --color-background-secondary: #393E46;
    --color-success: #00ADB5;
}

$color-primary: #EC994B;
$bp-normal: 75em;